@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    font-family: "Roboto Flex", sans-serif;
    box-sizing: 0px;
    margin: 0 auto;
    padding: 0px;
    font-size: 1.2rem;
    color: #1e1e1e;

}

header, main {
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
}

header .container {
    display: flex;
    object-fit: cover;
    flex-direction: column;
    height: 300px;
    max-width: 1280px;
    margin: 4px 4%;
}

/*TENTAR ARRUMAR AQUI*/

main .container {
    height: 800px;
    max-width: 1280px;
    margin: 4px 4%;
}

.container .background-image {
    position: absolute;
    filter: brightness(50%);
    top: 0;
    left: 0;
    z-index: -1;
    /*posiciona a imagem por trás*/
    width: 100%;
    height: 300px;
    object-fit: cover;

}

main .codename p {
    display: flex;
    color: lightgray;
    text-align: justify;
    overflow: hidden;
    height: 80px;
}

/*------------------------------------- skills*/

main .skills {
    display: grid;
    grid-template-areas: "1 2 3 4";
    /* display: flex;
    flex-wrap: wrap;
    width: 100%; */
    column-gap: 1rem;
}

main .education {
    /* display: flex; */
    border: solid 1px #9e9e9e;

    width: 220px;
    margin: 0.4rem;
    line-height: 1rem;
    font-size: 0.9rem;

}

/*----------------------------------------- icons */
main .education i { 
    color: orange;
    font-size: 0.9rem;
}

main .education h3{
    color: #3e3e3e;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;

}


main .education h4{
    font-size: 0.6rem;
    font-weight: normal;
    color: #5e5e5e;
}


main .education h5{
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

main .about {
    color: #1e1e1e;
    text-align: justify;
}

header .perfil {
    gap: 0.2rem;
    margin-top: 6rem;
    justify-content: end;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
}

header .perfil .foto {
    margin-top: 2rem;
    background-color: #1e1e1e;
    width: 7rem;
    height: 7rem;
    border: solid 0.3rem #1e1e1e;
    border-radius: 100%;
}

header h1 {
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: white;
}

header h2 {
    font-family: "Roboto Serif", serif;
    font-size: 0.7rem;
    color: orange;
    padding: 0.2rem 0.3rem;
    opacity: 85%;
    background-color: #1e1e1e;

    overflow: hidden; /* Ensures the text is hidden while the animation occurs */
    border-right: .15em solid orange; /* Creates the cursor effect */
    white-space: nowrap; /* Keeps the text on a single line */
    animation: typing 3s steps(30, end), blink-caret .75s step-end infinite;
}

    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}


main .projects {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main .projects img {
    width: 5rem;
    height: 5rem;
}

/* ----------------------------------------footer*/

footer {
    margin: 0 auto;
}

footer .container {

    display: flex;
    align-items: center;
    max-width: 1280px;
    height: 5rem;
    color: #F1F1F1;
    background-color: #1E1E1E;
}

footer p {
    font-size: 1rem;
    color: #F2F2F2;

}

/* ------------------------------------------ Responsividade */

@media (max-width: 1023px) {
    main .skills {
        display: grid;
        grid-template-areas: "1 2";

    }
    main .education {
        width: 100%;
    }
  }
@media (max-width: 767px) {
    main .skills {
        display: grid;
        grid-template-areas: "1 ";
    }
  }
