
*{
    box-sizing: 0px;
    margin: 0 auto;
    padding: 0px;
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;

}
@font-face {
    font-family: Roboto;
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300,400,500,700,900&display=swap");
  }


header, main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    gap: 2rem;
}

header .container {
    display: flex;
    object-fit: cover;
    flex-direction: column;
    height: 300px;
    max-width: 1280px;
    margin: 4px 4%;
}

main .container {
    display: flex;
    object-fit: cover;
    flex-direction: column;
    max-width: 1280px;
    margin: 4px 4%;
    gap: 2rem;
}

.container .background-image {
    position: absolute;
    filter: contrast(60%);
    top: 0;
    left: 0;
    z-index: -1;
    /*posiciona a imagem por trás*/
    width: 100%;
    height: 300px;
    object-fit: cover;
}

main .codename {
    color: lightgray; 
    text-align: justify; 

}

main .about {
    color: #1e1e1e; 
    text-align: justify;  
}

header .perfil {
    margin-top: 126px;
    gap: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .perfil .foto {
    display: flex;
    justify-content: end;
    background-color: #1e1e1e;
    width: 5rem;
    margin: 5rem;
    border: solid 0.3rem #1e1e1e;
    border-radius: 100%;
}

.container h1 {

    font-size: 1.8rem;
    color: white;
}

.container h2 {

    font-size: 0.8rem;
    color: orange;
    padding: 0.2rem 0.4rem;
    opacity: 85%;
    background-color: #1e1e1e;
}
